include LICENSE
recursive-include runtime/gideon *
recursive-include apps/console/dist *

prune tmp
global-exclude .DS_Store *.py[cod]

recursive-include runtime/gideon/extensions/apps/native *.py LICENSE README.md
